/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


/* colors */
:root {
	--button-color: #f195b2;
	--active-button-color: #d2567d;
	--primary-color: #3e606b;
	--text-color: #242424;
	--bg-color: #f0f0f0;
	--bg-dark-color: #303339;
}

body {
	margin: 0;
	font-size: 18px;
	font-family: 'Lora', serif;
	line-height: 1.5;
	color: var(--text-color);
}


/* fonts */
h1 {
	font-size: 52px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 18px;
}

h1,
h2,
h3 {
	line-height: 1.25;
	font-family: 'Playfair Display', serif;
}

.container,
header,
footer {
	margin: auto;
}

.container {
	max-width: 1100px;
}

footer {
	background-color: var(--bg-dark-color);
	color: #fff;
}

/* images */

.logo-img {
	width: 170px;
}

/* menu */

.main-menu li {
	list-style-type: none;

	text-decoration: none;
}

.main-menu li a {
	text-decoration: none;
	padding: 10px 15px;
	color: var(--text-color);

}

.main-menu li a:hover,
.main-menu li a:focus {
	background-color: var(--button-color);
	color: #fff;
	border-radius: 20px;
}

/* detail sections */

.hero {
	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-text {
	padding-right: 40%;
	color: #fff;
}

.hero-text p {
	font-size: 24px;
	font-style: italic;
}

/* display */

.p-30 {
	padding: 30px 0;
}

.p-80 {
	padding: 80px 0;
} 

.d-flex {
	display: flex;
}

.fl-btw {
	justify-content: space-between;
}
.g-30{
	gap: 30px;
}
/* colors */
h2,
h3 {
	color: var(--primary-color);
}

.bg-light {
	background-color: var(--bg-color);
}

.btn {
	background-color: var(--button-color);
	padding: 15px 40px;
	border-radius: 30px;
	text-decoration: none;
	color: #fff;
}

.btn:hover,
.btn:focus {
	background-color: var(--active-button-color);
}

/* karticky */

.card{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(90, 90, 90, 0.2);
}
.card-text{
	padding: 20px;
}
.card-text h3,
footer p{
	text-align: center;
}
.card img {
	border-radius: 5px 5px 0 0;
    width: 100%;
    object-fit: cover;
}